<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login-page || SaravananVijayamuthu</title>
    <link rel="stylesheet" href="{{('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap')}}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>

    <div class="container-fluid">
        <div class="container">
            <div class="col-xl-10 col-lg-11 mx-auto login-container">
                <div class="row">

                    <div class="col-lg-5 col-md-6 no-padding">
                        <form action="/login" method="POST">
                        <div class="login-box">
                            <h5><span class="text_1">Welcome Back🖤</span></h5>
                            <div class="login-row row no-margin">
                                <label for=""> Username</label>
                                <input type="text" name="username" class="form-control form-control-sm">
                            </div>

                            <div class="login-row row no-margin">
                                <label for=""> Password</label>
                                <input type="password" name="password" class="form-control form-control-sm">
                            </div>

                            <div class="login-row row forrr no-margin">
                                <p> <input type="checkbox"> Remember Me</p>
                                <p><a class="vgh" href="">Forget Password?</a></p>
                            </div>

                            <div class="login-row btnroo row no-margin">
                                <button class="btn btn-primary btn-sm" id="submit" value="Send"> Sign In</button>
                                <button class="btn btn-success btn-sm"> Create Account</button>
                            </div>
                            <div class="login-row donroo row no-margin">
                                <p>Dont have an Account ? <a href="">Sign Up</a></p>
                            </div>
                        </div>
                    </form>
                    </div>

                    <div class="col-lg-7 col-md-6 img-box">
                        <img src="{{ url_for('static', filename='images/login.gif')}}" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>

<script  src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
<script  src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script  src="{{ url_for('static', filename='js/script.js')}}"></script>
</html>